.cardcontainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -90px;
    align-content: center;
}
.cardview{
    
    width: 1200px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 20px;
}
.cardview .card{
    width: 95%;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.6);
    transition: transform 0.5s;
    border-radius: 20px;
    
} .card .imgbox{
    width: 100%;
    height: 180px;
   margin-left: auto;
   margin-right: auto;
}
  .imgbox img{
    margin-left: 10px;
    margin-top: 10px;
    height: 180px;
    width: 251px;
    border-radius: 10px;
    transition: 1s ease;
}
 .hoveredimage{
    visibility: hidden;
}
.cardview .card .imgbox img:hover{
transform: rotateZ(4deg);
transition: 1s ease;
}
 .card .info{
    margin-left: 12px;
    
}
 .info .subinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}
 .info .subinfo .heading h3{
    color: #1B4F72;
    margin-top: 15px;

}
  .distance img{
    height: 13px;
    width: 13px;
    margin-top: 20px;
    margin-left: -16px;
}
 .distance h6{
    margin-top: -17px;
    margin-right: 10px;
    
}
 .info p{
    margin-top: -8px;
    font-size: 15px;
    color: grey;
}
 .infotags{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .infotags .infotag{
    margin-top: -30px;
    display: flex;
}
 .infotags .infotag img{
    width: 30px;
    height:30px;
    margin-right: 23px;
    color: grey;
}
 .viewdata{
    margin-right: 7px;

}
 .viewdata button{
    border: none;
    background-color: #1B4F72;
    color: #fff;
    border-radius: 3px;
    padding: 8px;
}
  .deleteDiv{
    
    opacity: 0;
    transition: 0.3s all;
    margin-top: -300px;
    margin-left: 250px;


} 
  .deleteDiv .deleteBtn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #1B4F72;
    color: #fff;
} 
.card:hover .deleteDiv{
    opacity: 1;
}
@media screen and  (max-width:490px) {
    .card{
        width: 23%;
    }
    
}